
.wrapper {
    background: rgb(197, 195, 195);
    max-width: 1400px;
    min-height: 600px;
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr auto;
    grid-template-areas:
        "hd hd hd"
        "mn mn mn"
        "ft ft ft";
}

.header {
    background: rgb(130, 142, 248);
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 30px;
    grid-area: hd;
}

.main-content {
    padding: 0px 15px;
    margin: 0px auto;
    min-height: 70%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-area: mn;
}

.mainpart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 1fr 1fr;
    background: rgb(252, 252, 215);
    grid-template-areas:
        "p p"
        "mr mr"
        "ml ml";
    gap: 10px;
    padding: 10px;
}

p {
    grid-area: p;
    padding: 10px;
}

.main__row {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    grid-area: mr;

}

.mainp {
    min-height: 30px;
    background-color: rgb(182, 194, 159);
    padding: 30px;
    align-items: center;
}

.sidebar {
    padding: 35px;
    background: rgb(206, 252, 208);
    align-items: center;
}

.mainp-long {
    grid-area: ml;
    
}

.footer {
    background: rgb(130, 142, 248);
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    grid-area: ft;
}

.section {
    display: grid;
    padding: 10px;
    background: rgb(252, 255, 252);
    margin: 10px;
}


/* Устроства с маленьким экраном (планшеты, 768px и выше) */
@media (max-width: 767px) {
    /* стили для xs-устройств */
    .wrapper{
    max-width: none;
    min-height: 40px;
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  70px auto 1fr;
    grid-template-areas: "hd" "mn" "ft";
    }
    .header {
        background: rgb(130, 142, 248);
        max-width: 100%;
        padding: auto;
        grid-area: hd;
    }
    
    .main-content {
        background-color: rgb(182, 194, 159);
        padding: 7px;
        display: grid;
        grid-template: 1fr auto / 1fr;
        grid-template-areas: 
        "mnp"
        "sb";
        margin: 5px;
        grid-area: mn;
    }
    .mainpart{
        background: rgb(252, 252, 215);
        grid-area: mnp;
    }
    
    .sidebar{
        grid-area: sb;
      }
    .main__row {
       display: grid;
       gap: 10px;
       grid-template: 1fr 1fr / 1fr ;
       grid-template-areas: "mp1" "mp2";
    }
    .mainp1 {
      grid-area: mp1;      
    }
    .mainp2 {
        grid-area: mp2;      
      }
    .mainp-long {
       grid-area: ml;
    }
    
    .footer {
        background: rgb(130, 142, 248);
        max-width: 100%;
        display: grid;
        grid-template: repeat(auto-fill, 25%) / 1fr;
        grid-area: ft;
    }
    .section {
        display: grid;
        padding: 5px;
        background: rgb(252, 255, 252);
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
}
@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
}
@media (min-width: 1200px) {
    /* стили для lg-устройств */
}